/*-- -------------------------- -->
<---          Landing           -->
<--- -------------------------- -*/

@media only screen and (min-width: 0px) {
  .white-clip,
  .red-clip {
    display: none;
  }
  #hero {
    height: auto;
    background: url("/images/landing-mobile.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding-top: 2.5em;
    padding-bottom: 12.5em;
  }
  #hero:before {
    content: "";
    position: absolute;
    display: block;
    height: 10em;
    width: 50em;
    background: #fff;
    bottom: -9em;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(-10deg);
    -ms-transform: translateX(-50%) rotate(-10deg);
    transform: translateX(-50%) rotate(-10deg);
    z-index: 100;
    border-top: 3em solid var(--primary);
  }
  #hero #dark {
    position: absolute;
    background: #000;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
    z-index: 0;
  }
  #hero .hero-content {
    width: 100%;
    position: relative;
    z-index: 1;
  }
  #hero .hero-content .heroText {
    max-width: 20em;
    margin: auto;
    margin-top: 5.3em;
    text-align: center;
  }
  #hero .hero-content .heroText #home-h {
    color: #fff;
    font-size: 2em;
    width: 100%;
    margin-bottom: 0.25em;
    text-align: center;
    margin-bottom: 0.75em;
    font-family: "Russo";
  }
  #hero .hero-content .heroText h2 {
    color: #fff;
    font-size: 1em;
    font-weight: normal;
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 2em;
    font-family: "Roboto", sans-serif;
  }
  #hero .hero-content .heroText h2 strong {
    color: var(--primary);
  }
  #hero .hero-content .heroText a {
    display: block;
    margin: auto;
  }
  #hero .hero-content .heroText .button-solid {
    margin-bottom: 0.55555556em;
    margin-top: 1.66666667em;
    width: auto;
    display: inline-block;
  }
  #hero .hero-content .heroText .button-transparent {
    border: none;
  }
}
@media only screen and (min-width: 400px) {
  #hero .hero-content .heroText {
    margin-top: 4em;
  }
  #hero .hero-content .heroText #home-h {
    font-size: 1.8em;
    line-height: 1.25em;
    font-weight: normal;
  }
  #hero .hero-content .heroText h2 {
    font-size: 0.9em;
    line-height: 1.5em;
    font-weight: normal;
  }
}
@media only screen and (min-width: 768px) {
  #hero {
    padding-bottom: 15em;
    background: url("/images/landing.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #hero:before {
    width: 150em;
    bottom: -6em;
  }
  #hero .hero-content .heroText {
    margin-top: 10em;
    max-width: 28.5em;
  }
  #hero .hero-content .heroText #home-h {
    font-size: 2.9em;
    line-height: 1.20689655em;
  }
  #hero .hero-content .heroText h2 {
    width: 25em;
    margin: auto;
    margin-bottom: 2.5em;
    font-size: 1em;
  }
}
@media only screen and (min-width: 1024px) {
  #hero {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    height: 57em;
    position: relative;
    z-index: 109;
    background-attachment: fixed;
    min-height: 100vh;
    /* makes this section as tall as whatever the screen is */
  }
  #hero:before {
    bottom: -6.6em;
    display: none;
  }
  #hero .container {
    width: 96%;
    padding: 0;
    max-width: 60em;
  }
  #hero .hero-content .heroText {
    margin-top: 7.65em;
    margin-left: 0;
    max-width: 27.5em;
    text-align: left;
  }
  #hero .hero-content .heroText #home-h {
    text-align: left;
    font-size: 2.9em;
    line-height: 1.20689655em;
    margin-bottom: 0.86206897em;
  }
  #hero .hero-content .heroText h2 {
    text-align: left;
    line-height: 1.33333333em;
    width: 24.11111111em;
    margin-left: 0;
    font-size: 0.9em;
    margin-bottom: 4.05555556em;
  }
  #hero .hero-content .heroText a {
    display: inline-block;
  }
  #hero .hero-content .heroText .button-solid {
    margin: 0;
    margin-left: 0.33333333em;
  }
  #hero .hero-content .heroText .button-solid:hover {
    background: #fff;
    color: var(--primary);
  }
  #hero .hero-content .heroText .button-solid:hover:before {
    border: 0.11111111em solid #ffffff;
  }
  #hero .hero-content .heroText .button-transparent {
    border: none;
  }
}
@media only screen and (min-width: 1300px) {
  #hero .container {
    max-width: 55em;
    width: 100%;
  }
}
@media only screen and (min-width: 1400px) {
  #hero {
    padding-bottom: 25em;
    min-height: 57em;
    height: auto;
  }
  #hero .hero-content .heroText {
    margin-top: 13.35em;
  }
  #hero .white-clip,
  #hero .red-clip {
    display: block;
    position: absolute;
    bottom: -7.25em;
    width: 100%;
    left: 0;
    height: 20em;
  }
  #hero .white-clip {
    -webkit-clip-path: polygon(0 60.5%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 60.5%, 100% 0, 100% 100%, 0% 100%);
    background: #fff;
    z-index: 11;
  }
  #hero .red-clip {
    -webkit-clip-path: polygon(0 60.5%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 60.5%, 100% 0, 100% 100%, 0% 100%);
    background: var(--primary);
    bottom: -2.25em;
    z-index: 10;
  }
  body.dark-mode #hero .white-clip {
    background: var(--dark);
  }
}

/*-- -------------------------- -->
<---           Cards            -->
<--- -------------------------- -*/
@media only screen and (min-width: 0em) {
  #cards {
    position: relative;
    text-align: center;
  }
  #cards .triangles {
    position: absolute;
    z-index: 101;
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
    top: -2.15em;
    width: 30em;
    height: auto;
    display: block;
    left: -1.5em;
    opacity: 1;
  }
  #cards .triangles .cls-1,
  #cards .triangles .cls-2,
  #cards .triangles .cls-3,
  #cards .triangles .cls-4,
  #cards .triangles .cls-5,
  #cards .triangles .cls-6 {
    -webkit-animation-name: fade;
    animation-name: fade;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-duration: 2.3s;
    animation-duration: 2.3s;
    opacity: 0.2;
  }
  #cards .triangles .cls-1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    -webkit-animation-duration: 2.73s;
    animation-duration: 2.73s;
  }
  #cards .triangles .cls-1:nth-of-type(2n + 0) {
    -webkit-animation-delay: 0.17s;
    animation-delay: 0.17s;
    -webkit-animation-duration: 2.18s;
    animation-duration: 2.18s;
  }
  #cards .triangles .cls-2 {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-duration: 2.73s;
    animation-duration: 2.73s;
  }
  #cards .triangles .cls-3 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
  }
  #cards .triangles .cls-3:nth-of-type(2n + 0) {
    -webkit-animation-delay: 0.27s;
    animation-delay: 0.27s;
    -webkit-animation-duration: 2.38s;
    animation-duration: 2.38s;
  }
  #cards .triangles .cls-4 {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-duration: 3.3s;
    animation-duration: 3.3s;
  }
  #cards .triangles .cls-4:nth-of-type(4n + 0) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-duration: 3.1s;
    animation-duration: 3.1s;
  }
  #cards .triangles .cls-5 {
    -webkit-animation-delay: 0.32s;
    animation-delay: 0.32s;
    -webkit-animation-duration: 2.6s;
    animation-duration: 2.6s;
  }
  #cards .triangles .cls-6 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
  }
  #cards .container {
    position: relative;
    z-index: 102;
    margin-top: -10em;
    margin-bottom: 2.5em;
  }
  #cards .card {
    background: #fff;
    width: 14.75em;
    min-height: 20.35em;
    margin: auto;
    -webkit-box-shadow: 0px 4px 45px 4px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 4px 45px 4px rgba(0, 0, 0, 0.14);
    margin-bottom: 1.25em;
    padding: 2.5em 1.9em 2.75em 1.9em;
    text-align: center;
  }
  #cards .card img {
    display: block;
    width: 4.6em;
    margin: auto;
    margin-bottom: 2.05em;
  }
  #cards .card h2 {
    font-size: 1.2em;
    line-height: 1.20833333em;
    font-weight: 700;
    margin-bottom: 0.83333333em;
    letter-spacing: 0.08em;
  }
  #cards .card p {
    font-size: 0.8em;
    line-height: 1.5em;
  }
}
@media only screen and (min-width: 400px) {
  #cards .triangles {
    top: -1.3em;
  }
}
@media only screen and (min-width: 667px) {
  #cards .triangles {
    top: -0.3em;
  }
}
@media only screen and (min-width: 48em) {
  #cards .triangles {
    top: -3.05em;
  }
  #cards .container {
    max-width: 33.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 5em;
  }
  #cards .card:nth-of-type(1),
  #cards .card:nth-of-type(3) {
    -webkit-transform: translateY(1.5em);
    -ms-transform: translateY(1.5em);
    transform: translateY(1.5em);
  }
  #cards .card:nth-of-type(2),
  #cards .card:nth-of-type(4) {
    -webkit-transform: translateY(-1.5em);
    -ms-transform: translateY(-1.5em);
    transform: translateY(-1.5em);
  }
}
@media only screen and (min-width: 64em) {
  #cards {
    position: relative;
  }
  #cards:before {
    content: "";
    position: absolute;
    display: block;
    height: 10em;
    width: 150em;
    background: #fff;
    top: -6em;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(-10deg);
    -ms-transform: translateX(-50%) rotate(-10deg);
    transform: translateX(-50%) rotate(-10deg);
    z-index: 109;
    border-top: 5em solid var(--primary);
  }
  #cards .triangles {
    width: 65.75em;
    top: -7.15em;
    pointer-events: none;
    z-index: 110;
    opacity: 0.4;
  }
  #cards .container {
    width: 100%;
    max-width: 62em;
    margin-top: -16.6em;
    z-index: 110;
    position: relative;
  }
  #cards .container:before {
    content: "";
    position: absolute;
    display: block;
    height: 35em;
    width: 0.3em;
    background: #060f1e;
    opacity: 1;
    bottom: -35.75em;
    left: 50%;
    margin-left: -20.85em;
    z-index: 10;
  }
  #cards .container:after {
    content: "";
    position: absolute;
    display: block;
    height: 32.5em;
    width: 0.3em;
    background: #060f1e;
    opacity: 1;
    bottom: -29em;
    left: 50%;
    margin-left: -9.55em;
    z-index: 10;
  }
  #cards .card {
    width: 24%;
    max-width: 14.75em;
    padding: 2.5em 1em;
    position: relative;
    z-index: 200;
    height: 20.35em;
  }
  #cards .card:nth-of-type(1),
  #cards .card:nth-of-type(3) {
    -webkit-transform: translateY(4.8em);
    -ms-transform: translateY(4.8em);
    transform: translateY(4.8em);
  }
  #cards .card:nth-of-type(2),
  #cards .card:nth-of-type(4) {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  #cards .button-solid {
    position: relative;
    z-index: 200;
    margin-top: 3.11111111em;
  }
}
@media only screen and (min-width: 1300px) {
  #cards .container {
    padding: 0;
  }
  #cards .container:before {
    margin-left: -26.4em;
    width: 0.4em;
  }
  #cards .container:after {
    bottom: -25.3em;
    margin-left: -10.8em;
    width: 0.4em;
  }
  #cards .card {
    margin: 0;
  }
}
@media only screen and (min-width: 1400px) {
  #cards {
    margin-top: -3%;
  }
  #cards:before {
    height: 18.55em;
    display: none;
  }
}

/*-- -------------------------- -->
<---          Qualities         -->
<--- -------------------------- -*/
@media only screen and (min-width: 0em) {
  #quality .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #quality .content {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  #quality .signature {
    font-size: 1.2em;
    line-height: 1.20833333em;
    font-weight: 700;
    margin-bottom: 0.83333333em;
    display: block;
    text-align: center;
  }
  #quality .title {
    font-size: 0.9em;
    line-height: 1.22222222em;
    font-weight: 800;
    display: block;
    text-align: center;
  }
  #quality img {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    display: block;
    margin: auto;
    margin-bottom: 2.5em;
  }
}
@media only screen and (min-width: 568px) {
  #quality img {
    max-width: 15em;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 64em) {
  #quality {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5em;
  }
  #quality .container {
    width: 100%;
    max-width: 54.7em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  #quality .content {
    width: 25.15em;
    text-align: left;
    margin-left: auto;
    margin-right: 0;
    margin-left: 0;
    padding-top: 0;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  #quality .content p {
    font-size: 0.8em;
    line-height: 1.1875em;
    width: 32.8125em;
  }
  #quality h2 {
    margin-bottom: 1.11111111em;
  }
  #quality .signature {
    text-align: left;
  }
  #quality .title {
    text-align: left;
  }
  #quality img {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    max-width: 26.25em;
    width: 40vw;
    height: 50%;
    margin: 0;
    max-height: 34.55em;
  }
}
@media only screen and (min-width: 1300px) {
  #quality img {
    position: relative;
    z-index: 100;
    -webkit-transform: translateY(4.5em);
    -ms-transform: translateY(4.5em);
    transform: translateY(4.5em);
  }
}
